body {
    font-family: $font-stack;
    font-size: $base-font-size;
    color: $dark-color;
    background-color: $light-color;
  
    p {
      margin: 0.75rem 0;
  
      a {
        color: $primary-color;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  