.header {
    @include flex-center;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1rem;
  
    h1 {
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  
    nav {
      margin-left: auto;
  
      ul {
        display: flex;
        list-style: none;
  
        li {
          margin: 0 1rem;
  
          a {
            color: var(--light-color);
            text-decoration: none;
  
            &:hover {
              border-bottom: 2px solid var(--light-color);
            }
          }
        }
      }
    }
  }
  