.button {
    @extend %button-base; 
    background-color: $primary-color; 
    color: white; 
  
    margin-bottom: dynamic-spacing(1); 
  
    &:hover {
      background-color: darken($primary-color, 10%); 
    }
  
    &.secondary {
      background-color: $secondary-color; 
      color: $dark-color; 
      
      &:hover {
        background-color: darken($secondary-color, 10%); 
      }
    }
  }