body {
    font-family: "Calibri", Candara, Segoe;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 50px;
}

form {
    background-color:  rgb(21, 187, 212);
    border: 2px solid #ddd;
    padding: 25px;
    max-width: 300px;
    margin: 0 auto;
}

label {
    color: #000000;
    font-size: 20px;
    text-align: left;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #000000;
    background-color: #4fa073;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 10px;
}

.error-class {
    color: red;
    font-size: 15px;
    text-align: left;
    margin-bottom: 5px;
}