%button-base {
    display: inline-block;
    padding: dynamic-spacing(0.5) dynamic-spacing(1); 
    font-family: $font-stack; 
    font-size: $base-font-size; 
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  
    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }